body {
    padding-top: 50px;
}

button {
    background: #2F2F2F;
    border-radius: 4px;
    padding: 5px;
    outline: #919a45 solid 1px;
}

.main-title {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.buttonOpn {
    margin-bottom: 30px;
}

.fetch-request {
    width: 500px;
    height: 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
}

.inputs {
display: flex;
flex-direction: column;
text-align: center;
}

.inputs > input {
    margin: 0 auto;
}

#fetch {
    height: 40px;
}

.num-of-news {
    margin-bottom: 30px;
}

.title-pages {
    margin-bottom: 30px;
}

input {
    width: 100px;
}

.per-page {
    margin-bottom: 10px;
}

.page {
    margin-bottom: 30px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backdrop-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backdrop-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.is-hidden {
    display: none;
}

.modal-1 {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    background: #303033;
    padding: 50px;
}

.modal {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    background: #303033;
    padding: 50px;
}

.modal-title {
    font-family: "Roboto";
    margin-bottom: 50px;
}

.confirm-button {
    font-size: 1.2rem;
    margin-right: 50px;
}

.delete-button {
    font-size: 1.2rem;
}

#hidden-form {
    display: none; }


#news-info-form {
    height: 800px;
    display: flex;
    align-items: center;
        flex-direction: column;
        justify-content: space-between;
}

#news-info-form > input {
    width: 100px;
}

.buttons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#edit-news-form {
    height: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
}

#edit-news-form > input {
    width: 200px;
}

.news-list {
    margin-bottom: 30px;
}

.news-list > li {
    width: 1500px;
    outline: #E3FC02 solid 1px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px;
}

.news-actions {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}