body {
    padding-top: 50px;
}

button {
    background: #2F2F2F;
    border-radius: 4px;
    padding: 5px;
    outline: solid #f5c542 1px;
}

button:hover {
    outline: solid #ffeb3b 1.4px;
    transition: outline 0.7s ease, transform 0.3s ease;
}

input {
    width: 100px;
    outline: #535353 1px solid;
    border-radius: 2px;
}

.main-title {
    width: 135px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.section {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*! Секція SEARCH */

.search-label {
    margin-right: 20px;
}

.search {
    height: 30px;
    margin-bottom: 30px;
}

.search-list {
    display: none;
    width: 500px;
    max-height: 200px;
    margin-bottom: 30px;
    border: 1px solid #444;
    /* overflow: scroll; */
}

.search-list>li {
    outline: 1px solid yellow;
}

/* ! */

/*! Секція FETCH-REQUEST */

.fetch-request {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inputs {
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.div-inputs {
    width: 160px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.div-inputs:nth-child(2) {
    margin-right: 0px;
}

.div-inputs>input {
    width: 150px;
    height: 30px;
}

#fetch {
    height: 50px;
}

.buttonOpn {
    margin-bottom: 30px;
}

/* ! */

/*! Секція INFO */
.info-section {
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.num-of-news {
    margin-bottom: 30px;
}

.title-pages {
    margin-bottom: 30px;
}

/*! */

.buttons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backdrp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/*! Додавання новини */

.modal {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    background: #28282b;
    border-top: 3px solid #b7bb39;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    padding: 50px;
}

.modal-1 {
    height: 150px;
}

#news-info-form {
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#news-info-form>label>input {
    width: 200px;
}

/* ! */

/*! Видалення новини */

.modal-title {
    font-family: "Roboto";
    margin-bottom: 50px;
}

.confirm-button {
    font-size: 1.2rem;
    margin-right: 50px;
}

.delete-button {
    font-size: 1.2rem;
}

/*! */

/*! Редагуваня новини */

#edit-news-form {
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#edit-news-form>label>input {
    width: 200px;
}

/*!  */

/*! Додавання коментаря */

#coment-form {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* ! */

/*! Видалення коментаря */

.del-buttons { 
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.del-buttons>button {
    font-size: 1.2rem;
}

/* ! */

/* ! Редагування коментаря */

#edit-com-form {
    height: 150px;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* ! */

/*! NEWS LIST */

.news-list {
    margin-bottom: 30px;
}

.news-list>li {
    width: 1500px;
    outline: #d4af37 solid 1px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
}

.news-actions {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student-text {
    margin-bottom: 20px;
}

.coments {
    height: 170px;
    margin-bottom: 35px;
}

.coments-list {
    height: 150px;
    overflow-y: auto;
    padding: 5px;
}

.coments-list::-webkit-scrollbar {
    width: 10px;
}

.coments-list::-webkit-scrollbar-track {
    background: #313133;
    border-radius: 10px;
}

.coments-list::-webkit-scrollbar-thumb {
    background: #f5c542;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.coments-list::-webkit-scrollbar-thumb:hover {
    background: #ffd54f;
}

.comment {
    height: 80px;
    outline: #757574 solid 1px;
    padding: 5px;
    margin-bottom: 10px;
}

.comment>p {
    margin-bottom: 5px;
}

.edit-cmnt {
    outline: #fff59d 1px solid;
}

.delete-cmnt {
    outline: #fff59d 1px solid;
}

/* ! */

.pages {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.is-hidden {
    display: none;
}