ul{display:flex;flex-direction:column;align-items:center;justify-content:space-between;outline:blue 1px solid;gap:20px;padding:100px;list-style:none}li{padding:10px;outline:red 1px solid}li:hover{cursor:pointer}
